<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Exbecados", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Comunidad",    '#' %></li>
          <li><%= link_to "Datos Personales",    '#' %></li>
          <li><%= link_to "Datos Laborales", '#' %></li>
          <li><%= link_to "Posgrados", '#' %></li>
          <li><%= link_to "Aportes",'#' %></li>
          <li><%= link_to "Proyectos", '#' %></li>
          <li><%= link_to "Directorio Fundacion", '#' %></li>
          <li><%= link_to "Bolsa de Trabajo", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>